<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" [routerLink]=" ['home'] " >Clinica Ancora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['home']">Inicio</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" [routerLink]="['quienessomos']">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['servicio']">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contactanos']">Contáctanos</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Formularios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['registrousuario']">Registro Usuario Citas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " [routerLink]="['registrolaboratorio']">Registro de Laboratorio</a>
            <a class="dropdown-item " [routerLink]="['registo-pre-salud']">Registro Personal de Salud</a>
            <a class="dropdown-item " [routerLink]="['registrohistorial']">Registro de Historial</a>
             <a class="dropdown-item " [routerLink]="['registroperadministrativo']">Registro de Personal Administrativo</a>
          </div>
        </li>
      </ul>

    </div>  
  </nav>
