<div class="container contact-form">
    <h1 class="text-center">Formulario de contacto</h1>
    <hr>
    <div class="row">
     
         <div class="col-md-6 text-justify">
          <h4>El centro médico brinda los servicios de medicina general, odontología y laboratorio.</h4>
          <h4>Los servicios de laboratorios de 7:00 a.m - 12:00 p.m.</h4>
          <h4>Se reciben diferentes medios de pagos</h4>
          <h4>Email: Clinicaancora@email.com</h4>
          <h4>Lineas de atencion: 01 8000 458671</h4>
         </div>
  
         <div class="col-md-6">
          
            <div class="form-group ">
                <label>Tipo de Identificación</label>
               <div>
                 <select class="form-control" id="tipo" name="idtf">
                   <option selected>Seleccione un Tipo de Documento</option>
                   <option value="CC">Cédula de Ciudadanía</option>
                   <option value="CE">Cédula de Extranjería</option>
                   <option value="NIT">NIT</option>
                   <option value="PSP">Pasaporte</option>
                 </select>
                </div>
             </div>

             <div class="form-group">
                <label>Identificación</label>
                <input id="us_id" type="text" class="form-control">
               </div>


           <div class="form-group">
            <label>Nombre(s) & Apellidos</label>
            <input id="us_nombre" type="text" class="form-control">
           </div>


           <div class="form-group">
            <label>Correo</label>
            <input id="us_email" type="text" class="form-control">
           </div>
  
           <div class="form-group">
            <label>Telefono o Celular</label>
            <input id="us_telefono" type="text" class="form-control">
           </div>
  
           <div class="form-group">
            <label>Tipo de Solicitud</label>
              <select class="form-control" id="tiposolicitud" name="idtf2">
                <option selected>Seleccione un Tipo de Solicitud</option>
                        <option value="Petición">Petición</option>
                        <option value="Queja">Queja</option>
                        <option value="Reclamo">Reclamo</option>
                        <option value="Sugerencia">Sugerencia</option>
              </select>
          </div>
  
          <div class="form-group">
            <label>Mensaje</label>
            <div>
              <textarea id="mensaje" class="form-control"></textarea>
            </div>
          </div>

           <div class="form-group">
            <button class="btn btn-primary btn-block">Enviar</button>
           </div>
  
         </div>
  
      </div>
  
  </div>
  

