<div class="container contact-form">
    <h1 class="text-center">Registro de Personal Administrativo.</h1>
    <hr>
  
    <div class="row">
     
         <div class="col-md-6">
            <div class="form-group">
                <label>Nombre(s) & Apellidos</label>
                <input id="pro_nombre" type="text" class="form-control">
               </div>

               <div class="form-group">
                <label>Telefono</label>
                <input id="pro_telefono" type="text" class="form-control">
               </div>
      
               <div class="form-group">
                <label>Email</label>
                <input id="pro_email" type="text" class="form-control">
               </div>


      
              
      
         </div>
  
         <div class="col-md-6">
           
           <div class="form-group">
            <label>Identificación</label>
            <input id="pro_id" type="text" class="form-control">
           </div>
  
           <div class="form-group">
            <label>Área Médica</label>
            <select class="form-control" id="pro_area">
              <option selected></option>
              <option value="RH">Recursos Humano</option>
              <option value="cartera">Cartera</option>
              <option value="gerencia">Gerencia</option>
              <option value="AS gerencia">Asistente de gerencia</option>
              <option value="jefemédicos">Jefe de médicos.</option>
              <option value="contador">Administrador contable.</option>
            </select>
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <input id="pro_clave" type="text" class="form-control">
           </div>
     
           <div class="form-group">
            <button class="btn btn-primary btn-block">Enviar</button>
           </div>
         </div>
      </div>
  </div>
