<div class="container contact-form">
    <h1 class="text-center">Gestión de Historial Clinico</h1>
    <hr>
    <div class="row">
        
         <div class="col-md-4">
            <div class="form-group">
                <label>Medico</label>
                <input id="hist_pro_nombre" type="text" class="form-control">
               </div>
      
               <div class="form-group">
                <label>Nombre del Paciente</label>
                <input id="his_us_nombre" type="text" class="form-control">
               </div>

               
               <div class="form-group">
                <label>Email</label>
                <input id="hist_us_email" type="text" class="form-control">
               </div>

               <div class="form-group">
                <label>Estado Fisico del Paciente</label>
                <textarea id="hist_us_fis" class="form-control" rows="7"></textarea>
               </div>
               <br>

         </div>
  
         <div class="col-md-4">
            <div class="form-group">
                <label>Identificación del Medico</label>
                <input id="hist_pro_id" type="text" class="form-control">
               </div>

               <div class="form-group ">
                <label>Tipo de Identificación</label>
               <div>
                 <select class="form-control" id="tipo" name="idtf">
                   <option selected>Seleccione un Tipo de Documento</option>
                   <option value="CC">Cédula de Ciudadanía</option>
                   <option value="TI">Tarjeta de Identidad</option>
                   <option value="CE">Cédula de Extranjería</option>
                   <option value="NIT">NIT</option>
                   <option value="RC">Registro Civil</option>
                   <option value="PSP">Pasaporte</option>
                 </select>
                </div>
             </div>

             <div class="form-group">
                <label>Telefono</label>
                <input id="hist_us_telefono" type="text" class="form-control">
               </div>

               <div class="form-group">
                <label>Diagnostico</label>
                <textarea id="hist_us_diag" class="form-control" rows="7"></textarea>
               </div>
           
               
        </div>

         <div class="col-md-4">

          <div class="form-group">
            <label>Proxima Cita</label>
            <input id="his_us_cita" type="date" class="form-control">
          </div>

          <div class="form-group">
            <label>Identificación del Paciente</label>
            <input id="his_us_id" type="text" class="form-control">
           </div>

           <div class="form-group">
            <label>Dirección</label>
            <input id="hist_us_dir" type="text" class="form-control">
           </div>
  
          <div class="form-group">
            <label>Tratamiento</label>
            <textarea id="hist_us_tra" class="form-control" rows="7"></textarea>
           </div>
          
           <div class="form-group">
            <button class="btn btn-primary btn-block">Enviar</button>
           </div>
         </div>
      </div>
  </div>
