<div class="container bg-dark">
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs align-self-center">
            <header class="text-center text-white"><h4>Servicios Particulares</h4></header><br>
            <h4 class="text-justify text-white" >
              Convenios de servicios funerarios fuera de las sedes Propias. Nuestro Portafolio ha sido diseñado para ofrecer Servicios a la medida de cada usuario.
            </h4>
      </div>
    </div>
    <br>
</div>
  <br>

  <div class="container bg-dark">
    <br>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs align-self-center">
            <header class="text-center text-white"><h4>Transporte.</h4></header><br>
            <h4 class="text-justify text-white" >
             La prestación de nuestros servicios está a cargo de profesionales expertos en el ramo. El traslado del cuerpo a los oficios religiosos y destino final es efectuado por conductores elegantes y cultos.
            </h4>
      </div>
    </div>
    <br>
  </div>

