<div class="container contact-form">
    <div class="row">
        <div class="col-md-12">
            <br>
              <img src="../../assets/servicios.jpg" class="w-100">
        </div>

    </div>
    <hr>
    <div class="container">
        <div class="row">
 

            <div class="col-md-5 ">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XNpBVXJry8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <div class="col-md-7 text-justify badge-info">
                <h2>Medicina General</h2>
                Tenemos a los mejores medicos pa el primer nivel de atención médica y es imprescindible para la prevención, detección, tratamiento y seguimiento de las enfermedades crónicas estabilizadas, responsabilizándose del paciente en su conjunto, para decidir su derivación a los especialistas cuando alguna patología se descompense.
                Contamos con los siguientes servicios:

<p> - Reconocimientos médicos generales personalizados según edad, antecedentes personales y familiares y dependiendo del nivel de riesgo de cada paciente.</p>
<p> - Prevención de enfermedades mediante campañas de vacunación e información (consejos sobre hábitos, normas de higiene, alimentación saludable, etc.)</p>
<p> - Control y seguimiento de enfermedades crónicas.</p>
<p> - Controles periódicos de determinados parámetros como glucosa, tensión, colesterol, etc., en personas con factores de riesgo para evitar las consecuencias de estas enfermedades.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-justify badge-info">
                <h2>Odontologia</h2>
                <p>La Ortodoncia se ocupa de lograr la correcta posición de los dientes no solo desde la estética sino también desde lo funcional, corrigiendo problemas de mordida que generan dolor articular, desgaste de dientes, y problemas fonéticos entre otros, utilizando tecnología de vanguardia por parte de nuestro equipo experto, brindandote la mejor experiencia en servicios dentales para tu salud bucal.</p>
                <p>• Brackets de última generación</p>
                <p>• Ortodoncistas altamente calificados</p>
                <p>• Planes muy fáciles de pagar hasta en 26 cuotas mensuales sin intereses</p>
            </div>
            <div class="col-md-6">
                <br>
                <iframe src="https://www.youtube.com/embed/xR2_TjhE3GE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br>
<hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <iframe src="https://www.youtube.com/embed/whVKJuMwyu0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
            <div class="col-md-6 text-justify badge-info">
               
                <h2>Laboratorios</h2>
              
                <p>Nuestro programa de Referencia brinda a los laboratorios clínicos un paquete de servicios integrales para la toma y procesamiento de sus muestras de forma rápida, confiable y segura:</p>

                <p>Recepción de muestras de laboratorio de toda Colombia, el Caribe, Centro y Suramérica.</p>

                <p>Manejo y procesamiento de muestras con tecnología de última generación:</p>

                <p>Somos un laboratorio especializado en el análisis de laboratorio clínico, patología y citología, para lo cual contamos con equipos de última generación para ser utilizados en el análisis de más de 500 tipos de pruebas,brindando a los usuarios exactitud, veracidad y entrega a tiempo de los resultados. Nuestro software propietario ConlabWeb 2.0 permite el control total del proceso de identificación de las muestras con adhesivos pre-marcados y códigos de barras, lo que brinda alta seguridad y transmisión en tiempo real de la información. Nuestro sistema robótico-inteligente ‘Aptio de Siemens’, el más grande y moderno de Colombia, procesa las pruebas de forma totalmente        automatizada, puede procesar hasta 5.000 exámenes por hora, reduciendo hasta en un 80% el tiempo de análisis, convirtiéndose en un apoyo vital para los médicos y e   ntidades de salud en la detección oportuna y asertiva de los diferentes padecimientos.</p>
            </div>
        </div>
    </div>
</div>