<div class="container contact-form">
    
    <div class="row">
        <div class="col-md-6 text-center badge-info">
            <br>
            <h2>QUIÉNES SOMOS</h2>
            Pertenecemos al grupo Keralty. Creada en 1991 como respuesta a la reforma de la Seguridad Social en Colombia. Ofrecemos servicios de atención en salud y prestaciones a nuestros afiliados dentro del Plan de Beneficios
        </div>
        <div class="col-md-6">
            <br>
              <img src="../../assets/article.jpg" class="w-75">
        </div>

    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <br>
                  <img src="../../assets/Foto_04.jpg" class="w-75">
            </div>
            
            <div class="col-md-5 text-justify badge-info">
                <br>
                <h2>Misión</h2>
                <br>
                Somos gestores del riesgo en salud de los colombianos basados en la atención primaria como el eje fundamental y articulador de las atenciones en salud, con enfoque preventivo, de forma amable, confiable, eficiente y rentable.
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-5 text-justify badge-info">
                <br>
                <h2>Visión</h2>
                <br>
                En el 2020 Clinica Ancora será un referente nacional en aseguramiento en salud; reconocida por sus innovadores modelos de atención y por la utilización de la tecnología que permita una gestión priorizada e individualizada del riesgo en salud; con altos niveles de satisfacción generados por la percepción de cuidado y gestión de riesgo y acentuados por la facilidad para resolver las necesidades de salud de sus afiliados.
            </div>
            <div class="col-md-7">
                <br>
                  <img src="../../assets/Foto02.jpg" class="w-75">
            </div>
        </div>
    </div>
    <br>
</div>


  

  
