<div class="container contact-form">
    <h1 class="text-center">REGRISTRA TU CÍTA AQUI</h1>
    <hr>
  
    <div class="row">
     
         <div class="col-md-6">
          <p>El centro médico brinda los servicios de medicina general, odontología y laboratorio.</p>
          <p>Los servicios de laboratorios de 7:00 a.m - 12:00 p.m.</p>
          <p>Se reciben diferentes medios de pagos</p>
          <p>Email: Clinicaancora@email.com</p>
          <p>Lineas de atencion: 01 8000 458671</p>
         </div>
  
         <div class="col-md-6">
          
           <div class="form-group">
            <label>Nombre(s) & Apellidos</label>
            <input id="us_nombre" type="text" class="form-control">
           </div>

           <div class="form-group ">
            <label>Tipo de Identificación</label>
           <div>
             <select class="form-control" id="tipo" name="idtf">
               <option selected>Seleccione un Tipo de Documento</option>
               <option value="CC">Cédula de Ciudadanía</option>
               <option value="TI">Tarjeta de Identidad</option>
               <option value="CE">Cédula de Extranjería</option>
               <option value="NIT">NIT</option>
               <option value="RC">Registro Civil</option>
               <option value="PSP">Pasaporte</option>
             </select>
            </div>
         </div>

           <div class="form-group">
            <label>Identificación</label>
            <input id="us_id" type="text" class="form-control">
           </div>
  
           <div class="form-group">
            <label>Correo</label>
            <input id="us_email" type="text" class="form-control">
           </div>
  
           <div class="form-group">
            <label>Telefono o Celular</label>
            <input id="us_telefono" type="text" class="form-control">
           </div>

           <div class="row">
            <div class="col-md-6">
           <div class="form-group">
            <label>Fecha de la Cita</label>
            <input id="us_cita" type="date" class="form-control">
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <label>Hora de la Cita</label>
              <input id="us_cita" type="time" class="form-control">
              </div>
            </div>
           </div>
  
           <div class="form-group">
            <label>EPS Afilida</label>
            <select class="form-control" id="us_area">
                <option selected>Seleccionar una opcion</option>
                <option value="sura">EPS Sura</option>
                <option value="sanita">Sanitas</option>
                <option value="compensar">Compensar EPS</option>
                <option value="saludtotal">Salud Total</option>
                <option value="nuevaeps">Nueva EPS</option>
                <option value="coomeva">Coomeva EPS</option>
                <option value="famisanar">Famisanar</option>
                <option value="saludvida">SaludVida</option>
              </select>
           </div>
  
           <div class="form-group">
            <label>Área Médica</label>
            <select class="form-control" id="us_area">
              <option selected>Seleccionar una opcion</option>
              <option value="med_gen">Medicina General</option>
              <option value="odontologia">Odontología</option>
              <option value="Laboratorio">Laboratorio </option>
            </select>
          </div>

          <div class="form-group">
            <label>Sedes</label>
            <select class="form-control" id="us_area">
              <option selected>Seleccionar una opcion</option>
              <option value="riomar">Riomar</option>
              <option value="villa">Villa Country</option>
              <option value="altamira">Altamira</option>
              <option value="murillo">Murillo</option>
              <option value="prado">Prado</option>
              <option value="calle30">Calle 30 </option>
              <option value="victoria">La victoria</option>
              <option value="malambo">Altos de Malambito</option>
            </select>
          </div>

           <div class="form-group">
            <button class="btn btn-primary btn-block">Enviar</button>
           </div>
  
         </div>
  
      </div>
  
  </div>
  
